/**index.wxss**/
		 .navigation{position:fixed;top: 0;left: 0;width: 100%;z-index: 9999; height: .45rem;align-items: center;display: flex;}
		 .navigation img{width:1.1rem;margin-left: .08rem;}
		 
		 .content{position: fixed;top: 0;left: 0;width: 100%;height: 100%;font-size:.16rem}
		 .content .title{margin: .3rem 0;height: .45rem;text-align: center;}
		 .content .title img{width: 80%;}
		 .map{margin-top: 5px;}
		 /* movable-area{position: fixed;width: 100%;overflow: hidden;}
		 movable-view{width: 700px;height: 507px;padding:0 20px;} */
		 
		 .but{width: .7rem;min-height: .55rem;border-radius: 8px;font-size: .14rem;color:#fff;padding-top: .08rem;}
		 .but_text{padding-bottom: .05rem;font-size:.12rem;text-align: center;padding-top:.04rem}
		 .buttons{position: fixed;bottom: 10%;left: .08rem;}
		 .tips{width: 2rem; height: 1.2rem;position: relative;display: none;}
		 .tips.block{
			 display:block;
			 animation: bounceIn 1s;
			 -webkit-animation: bounceIn 1s;
		 }
		 .tips.none{
				 /* display:none; */
				 animation: bounceOut 1s;
				 -webkit-animation: bounceOut 1s;
		 }
		 
		 .tips .textView{width: 92%;margin: 0 auto;font-size: .12rem;color: #fff;text-align: center;background-color: #324c80;border-radius: 8px;position: relative;top: 6%;padding: .08rem 0;line-height: .17rem;box-sizing: border-box;}
		 .gksp{position: absolute;bottom: .2rem;left: 50%;margin-left: -.45rem;padding:.08rem 0 .12rem;width: .9rem; border-radius: 8px;font-size: .13rem;color:#fff; background-color: #ffbf13; box-shadow:inset 0px -5px 0px #bf7013,0 0 2px 1px #000;margin-top: 10px;text-align: center;}
		 .hqts{background-color: #0faaff; box-shadow:inset 0px -5px 0px #2b4db4,0 0 2px 1px #000;margin-top: 10px;height:.6rem}
		 .hqts img{width: .26rem;height: .26rem;display:block;margin:0 auto;}
		 .fxhj{background-color: #ff4c69; box-shadow:inset 0px -5px 0px #bf3866,0 0 2px 1px #000;margin-top: 20px;position: relative;}
		 .fxhj img{width:.2rem;display:block;margin:0 auto}
		 .fxhj button{position: absolute;top: 0;left: 0;width:100%;height: 100%;opacity: 0;}
		 .fxhj-right{
		   position: fixed;
		   bottom: 10%;
		   right: .08rem;
			height: .6rem;
		 }
		 
		 
		 .ksdt.gksp{ position: fixed;right: -.1rem;left:inherit; bottom: .33rem;width:.6rem;padding:.08rem .15rem .12rem;z-index: 4;}
		 
		 .cityList{position: fixed;right: -1rem;bottom: .33rem;z-index: 6; color:#fff;width:.6rem;height: .8rem;border-radius: 8px;padding:.15rem .2rem .17rem .1rem;}
		 .cityList .item{font-size: .14rem;margin-bottom: .6rem;}
		 .cityList .itemCurr{color: #ffbf13;}
		 .cityList::before{
		     content: " ";
		     display: inline-block;
		     height: 6px;
		     width: 6px;
		     border-width: 2px 0 0 2px;
		     border-color: #fff;
		     border-style: solid;
		     -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
		     transform: matrix(.71,.71,-.71,.71,0,0);
		     position: absolute;
		     top: 12rpx;
		     left: 50%;
		     margin-left: -.07rem;
		 }
		 .cityList::after{
		     content: " ";
		     display: inline-block;
		     height: 6px;
		     width: 6px;
		     border-width: 0 2px 2px 0;
		     border-color: #fff;
		     border-style: solid;
		     -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
		     transform: matrix(.71,.71,-.71,.71,0,0);
		     position: absolute;
		     bottom: .09rem;
		     left: 50%;
		     margin-left: -.07rem;
		 }
		 .top.cityList::before,.bottom.cityList::after{
		   border-color: #c8c8cd;
		 }
		 
		 
		 .map-list{
		   display:flex;
		   flex-wrap: wrap;
		   box-sizing: border-box;
		   padding:0 .03rem;
		   margin-top: .05rem;
		 }
		 .map-item{
		   width:33.33%;
		   height:1.3rem;
		   box-sizing: border-box;
		   padding:.03rem .03rem;
		 }
		 .map-item>view{
		   box-sizing: border-box;
		   border:.02rem solid #0E385B;
		   border-radius:.1rem;
		   width:100%;
		   height:100%;
		 }
		 .map-item img{
		   width:100%;
		   height:.6rem;
		 }
		 .map-item-box{
		   width:100%;
		   height:100%;
		   display:flex;
		   flex-flow:column;
		   align-items:center;
		   justify-content: flex-end;
		   box-sizing: border-box;
		   padding:.1rem;
		   border:.06rem solid #0FA9FF;
		   border-radius: .1rem;
		   background-color:#324C7F;
		 }
		 .map-item-box-img{
		   height:100%;
		 }
		 .map-item-box-text{
		   padding:.02rem .05rem;
		   display:inline-block;
		   margin-top:.1rem;
		   background-color:#F83200;
		   border-radius:.05rem;
		   color:white;
		   flex-shrink: 0;
		 }
		 .map-item-it{
		   box-sizing: border-box;
		   width:100%;
		   height:100%;
			 border: 2px solid black;
			 border-radius: .1rem;
		 }
		 .index_bg {
		 background: url(../img/background.png) center center no-repeat;
		 background-size: cover;
		 
		 }
		 .textView>div{
			 font-size:.14rem;
		 }
		 
		 
		 
		 @-webkit-keyframes bounceIn {
		   from,
		   20%,
		   40%,
		   60%,
		   80%,
		   to {
		     -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		     animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		   }
		 
		   0% {
		     opacity: 0;
		     -webkit-transform: scale3d(0.3, 0.3, 0.3);
		     transform: scale3d(0.3, 0.3, 0.3);
		   }
		 
		   20% {
		     -webkit-transform: scale3d(1.1, 1.1, 1.1);
		     transform: scale3d(1.1, 1.1, 1.1);
		   }
		 
		   40% {
		     -webkit-transform: scale3d(0.9, 0.9, 0.9);
		     transform: scale3d(0.9, 0.9, 0.9);
		   }
		 
		   60% {
		     opacity: 1;
		     -webkit-transform: scale3d(1.03, 1.03, 1.03);
		     transform: scale3d(1.03, 1.03, 1.03);
		   }
		 
		   80% {
		     -webkit-transform: scale3d(0.97, 0.97, 0.97);
		     transform: scale3d(0.97, 0.97, 0.97);
		   }
		 
		   to {
		     opacity: 1;
		     -webkit-transform: scale3d(1, 1, 1);
		     transform: scale3d(1, 1, 1);
		   }
		 }
		 
		 @keyframes bounceIn {
		   from,
		   20%,
		   40%,
		   60%,
		   80%,
		   to {
		     -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		     animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		   }
		 
		   0% {
		     opacity: 0;
		     -webkit-transform: scale3d(0.3, 0.3, 0.3);
		     transform: scale3d(0.3, 0.3, 0.3);
		   }
		 
		   20% {
		     -webkit-transform: scale3d(1.1, 1.1, 1.1);
		     transform: scale3d(1.1, 1.1, 1.1);
		   }
		 
		   40% {
		     -webkit-transform: scale3d(0.9, 0.9, 0.9);
		     transform: scale3d(0.9, 0.9, 0.9);
		   }
		 
		   60% {
		     opacity: 1;
		     -webkit-transform: scale3d(1.03, 1.03, 1.03);
		     transform: scale3d(1.03, 1.03, 1.03);
		   }
		 
		   80% {
		     -webkit-transform: scale3d(0.97, 0.97, 0.97);
		     transform: scale3d(0.97, 0.97, 0.97);
		   }
		 
		   to {
		     opacity: 1;
		     -webkit-transform: scale3d(1, 1, 1);
		     transform: scale3d(1, 1, 1);
		   }
		 }
		 
		 